<a href="https://colab.research.google.com/github/Sriharish19/Almax_notes/blob/main/sql_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The SQL SELECT Statement

The SELECT statement is used to select data from a database.

The data returned is stored in a result table, called the result-set.

SELECT Syntax

  SELECT column1, column2, ...
  FROM table_name;

To select all the fields available in the table, syntax:

  SELECT * FROM table_name;

The following SQL statement selects the "CustomerName" and "City" columns from the "Customers" table:

  SELECT CustomerName, City FROM Customers;

# The SQL WHERE Clause

The WHERE clause is used to filter records.

It is used to extract only those records that fulfill a specified condition.

WHERE Syntax

  SELECT column1, column2, ...
  FROM table_name
  WHERE condition;

Note: The WHERE clause is not only used in SELECT statements, it is also used in UPDATE, DELETE, etc.!

The following SQL statement selects all the customers from the country "Mexico", in the "Customers" table:

  SELECT * FROM Customers
  WHERE Country='Mexico';

SQL requires single quotes around text values (most database systems will also allow double quotes).

However, numeric fields should not be enclosed in quotes:

  SELECT * FROM Customers
  WHERE CustomerID=1;

# The SQL COUNT(), AVG() and SUM() Functions

The COUNT() function returns the number of rows that matches a specified criterion.

COUNT() Syntax

  SELECT COUNT(column_name)
  FROM table_name
  WHERE condition;

The following SQL statement finds the number of products:

  SELECT COUNT(ProductID)
  FROM Products;

The AVG() function returns the average value of a numeric column.

AVG() Syntax

  SELECT AVG(column_name)
  FROM table_name
  WHERE condition;

The following SQL statement finds the average price of all products:

  SELECT AVG(Price)
  FROM Products;

Note: NULL values are ignored.

The SUM() function returns the total sum of a numeric column. 

SUM() Syntax

  SELECT SUM(column_name)
  FROM table_name
  WHERE condition;

The following SQL statement finds the sum of the "Quantity" fields in the "OrderDetails" table:

  SELECT SUM(Quantity)
  FROM OrderDetails;

 NULL values are ignored.


**The SQL MIN() and MAX() Functions**

The MIN() function returns the smallest value of the selected column.

The MAX() function returns the largest value of the selected column.

MIN() Syntax

  SELECT MIN(column_name)
  FROM table_name
  WHERE condition;

The following SQL statement finds the price of the cheapest product:

  SELECT MIN(Price) AS SmallestPrice
  FROM Products;

MAX() Syntax

  SELECT MAX(column_name)
  FROM table_name
  WHERE condition;

The following SQL statement finds the price of the most expensive product:

  SELECT MAX(Price) AS LargestPrice
  FROM Products;

#The SQL GROUP BY Statement

The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".

The GROUP BY statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.

GROUP BY Syntax

  SELECT column_name(s)
  FROM table_name
  WHERE condition
  GROUP BY column_name(s)
  ORDER BY column_name(s);

The following SQL statement lists the number of customers in each country:

  SELECT COUNT(CustomerID), Country
  FROM Customers
  GROUP BY Country;

The following SQL statement lists the number of customers in each country, sorted high to low:

  SELECT COUNT(CustomerID), Country
  FROM Customers
  GROUP BY Country
  ORDER BY COUNT(CustomerID) DESC;

The following SQL statement lists the number of orders sent by each shipper:

  SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
  LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
  GROUP BY ShipperName;

# The SQL HAVING Clause

The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.

HAVING Syntax

  SELECT column_name(s)
  FROM table_name
  WHERE condition
  GROUP BY column_name(s)
  HAVING condition
  ORDER BY column_name(s);

The following SQL statement lists the number of customers in each country. Only include countries with more than 5 customers:

Example

  SELECT COUNT(CustomerID), Country
  FROM Customers
  GROUP BY Country
  HAVING COUNT(CustomerID) > 5;

The following SQL statement lists the number of customers in each country, sorted high to low (Only include countries with more than 5 customers):

  SELECT COUNT(CustomerID), Country
  FROM Customers
  GROUP BY Country
  HAVING COUNT(CustomerID) > 5
  ORDER BY COUNT(CustomerID) DESC;