<a href="https://colab.research.google.com/github/Sriharish19/Almax_notes/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=55555
lst=[]
for i in str(num):
    lst.append(i)
print(lst)
x=''.join(lst)
lst.reverse()
y=''.join(lst)
if x==y:
    print('Number is Palindrome')
else:
    print('Number is not a palindrome')

['5', '5', '5', '5', '5']
Number is Palindrome

In [ ]:
string='python programming'

lst=[i for i in string]

for i in range(1,len(string)):
  if lst[i]==lst[0]:
    lst[i]='$'
  else:
    pass
print(*lst,sep='')

python $rogramming

In [ ]:
string= 'the quick brown fox jumps over the lazy dog'
x={}
for i in string.split(' '):
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [ ]:
a='Scta'
b='Daientist'
c=b[0:2]+a[2:]
d=a[0:2]+b[2:]
print(c,'',d)

Data  Scientist

In [ ]:

list_items = list(map(str,input().split(',')))
lst=list(set(list_items))
print(sorted(lst))

red, black, pink, green, black, green
[' black', ' green', ' pink', 'red']

In [ ]:
s1='[[]]'
s2='pyth'
l=int(len(s1)/2)
s3=s1[:l]+s2+s1[l:]
print(s3)

[[pyth]]

In [ ]:
string=str(input())

def non_repeating_char(string):
  lst=[]
  for i in string:
    if string.count(i)==1:
      return i
    else:
      x=string.count(i)
      lst.append(x)
    if len(string)==len(lst):
      return 'None'
    else:
      pass


print(non_repeating_char(string))

abcdef
a

In [ ]:
string='string= Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster.'

In [ ]:

x={}
for i in string.split(' '):
  if i in x:
    x[i]+=1
  else:
    x[i]=1
sorted(x.values())[-1]

8

In [ ]:
for i in range(1,10):
  
  if i <=5:
    print('*'*i)
  else:
    for j in range(1,5):
      print('*'*(i-j))
      break

*
**
***
****
*****
*****
******
*******
********

In [ ]:
lst=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
lst1= list(set([tuple(i) for i in lst]))
lst1=[list(i) for i in lst1]
lst1

[[40], [33], [30, 56, 25], [10, 20]]

In [ ]:
nums=[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
x=nums.count(0)
for i in range(x):
  nums.remove(0)
for i in range(x):
  nums.append(0)
print(nums)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
num = eval(input())
string=str(input())
lst=[]
for i in num:
  x=str(i)
  y=string+x
  lst.append(y)
print(lst)

[1,2,3,4]
emp
['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
x={}
for i in l:
  x[i]=i[-1]
print(sorted(x.values()))

[1, 2, 3, 4, 5]

In [ ]:

string=input()

def char_frequency(str1):
    dict = {}
    for n in str1.lower():
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency(string))

AlmaBetter
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
strs='As The quick brown fox jumps over the lazy dog.'
lst=[]
for i in strs.split(' '):
  lst.append(len(i))
print(lst)


lst2=[]

for val in range(2,max(lst)+1):
  for i in range(2, val):
    if (val % i) == 0:
      break
    else:
      lst2.append(val)
if 2 in lst:
  lst2.append(2)
else:
  pass
print(list(set(lst2)))

for i in strs.split(' '):
  if len(i) in lst2:
    print(i,end=' ')
  else:
    pass

[2, 3, 5, 5, 3, 5, 4, 3, 4, 4]
[2, 3, 5]
As The quick brown fox jumps the

In [ ]:
strs = input()
lst=[]
for i in strs.split(' '):
  lst.append(len(i))
print(lst)


lst2=[]

for val in range(2,max(lst)+1):
  for i in range(2, val):
    if (val % i) == 0:
      break
    else:
      lst2.append(val)
if 2 in lst:
  lst2.append(2)
else:
  pass
print(list(set(lst2)))

for i in strs.split(' '):
  if len(i) in lst2:
    print(i,end=' ')
  else:
    pass

The quick brown fox jumps over the lazy dog.
[3, 5, 5, 3, 5, 4, 3, 4, 4]
[3, 5]
The quick brown fox jumps the

In [ ]:
strs ='The quick brown fox jumps over the lazy dog.'

def test(strs):
    return " ".join(strs for strs in strs.split() if is_prime(len(strs))) 
def is_prime(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))

print(is_prime(5))

True

In [ ]:
n=100
x=[n % j for j in range(2, int(n ** 0.5) + 1)]
print(x)

[0, 1, 0, 0, 4, 2, 4, 1, 0]

In [ ]:
num= int(input())

KeyboardInterrupt: ignored

In [ ]:
num=5555
s=str(num)
for i in s:
  while x==len(s):
    x=0
    if i==s[::-1][x]

In [ ]:
n = int(input())
def isPalindrome(s):
    s=str(s)
    for i in range(0, int(len(s))):
        if s[i] != s[-(i+1)]:
            return 'Number is not Palindrome'
        else:
            return 'Number is Palindrome'
    print( isPalindrome(n))

55555
Number is Palindrome

In [ ]:
int(5/2)

2

In [ ]:
num = 6

print('Fibonacci Series:')
x,y=0,1
for i in range(num):
  
  if i==0:
    r=i
  else:
    x,y=y,(x+y)
    r=x
  print(r,end=',')

Fibonacci Series:
0,1,1,2,3,5,

In [ ]:
import pandas as pd

In [ ]:
d1={'name':['JOHN1','DAVE','AJAY','TRACY','TIYA'],'height':[174,190,184,170,162]}
d2={'name':['john','dave','ajay','tracy','tiya'],'weight':[70,82,65,62,55]}

In [ ]:
df1=pd.DataFrame.from_dict(d1)
df1['name']=df1['name'].apply(str.lower)
df1

In [ ]:
df2=pd.DataFrame.from_dict(d2)
df2['name']=df2['name'].apply(str.lower)
df2

In [ ]:
df3=pd.merge(df1,df2,on='name',how='inner')
df3

    name  height  weight
0   dave     190      82
1   ajay     184      65
2  tracy     170      62
3   tiya     162      55

In [ ]:
#n=list(map(str,input().split(' ')))
n=['r','b','b','b','b','b','c','c','c','c','e','e','e']
s=pd.Series(n)
s.value_counts()

b    5
c    4
e    3
r    1
dtype: int64

In [ ]:
SELECT deptname FROM department WHERE rank >= 2 AND rank <= 5 ORDER BY rank ASC;

In [ ]:
SELECT AVG(Expense) AS [Avg_Expense]
FROM WeekExpense
WHERE WeekNumber = 'Week05'

In [ ]:
var=str

In [ ]:
var=integer

NameError: ignored

In [ ]:
var++

SyntaxError: ignored

In [ ]:
var=~~~~~~~100

In [ ]:
var= def lambda()

SyntaxError: ignored

In [ ]:
var=lambda n:n**3

In [ ]:
x=5
lst=[]
for i in range(1,x*2):
  if i<=5:
    lst.append(i)
  else:
    lst2.append()

In [ ]:
rows=5
for i in range(rows):
  for j in range(i):
    print('*'*j, sep='.')

*

*
**

*
**
***

In [ ]:
string= '''Both of these issues are fixed by postponing the evaluation of annotations. 
Instead of compiling code which executes expressions in annotations at their definition 
time, the compiler stores the annotation in a string form equivalent to the AST of the 
expression in question. If needed, annotations can be resolved at runtime using 
typing.get_type_hints(). In the common case where this is not required, the 
annotations are cheaper to store 
(since short strings are interned by the interpreter) and make startup time faster.'''

lst=string.split(' ')
x={}

for i in lst:
    if i  in x:
        x[i]+=1
    else:
        x[i]=1

val=sorted(x.values())[-2]
lst=list(x.items())
for i in lst:
  if i[1]==val:
    print(i)
  else:
    pass

('of', 4)

In [ ]:
lst=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
lst1=sorted([i[1] for i in lst])

TypeError: ignored

In [ ]:
for i in range(1,6):
    for j in range (1,6):
        
        if i==j :
          print('*.'*j)
        else:
            pass
for i in range(4,0,-1):
    for j in range(4,0,-1):
        
        if i==j :
          
          print('*.'*j)
        else:
            pass

*.
*.*.
*.*.*.
*.*.*.*.
*.*.*.*.*.
*.*.*.*.
*.*.*.
*.*.
*.

In [ ]:
for i in range(5,1):
  print(i)

In [ ]:
rows= 5
colms= 5

for i in range(1,rows+1):
  for j in range(1,colms+1):
    if i==1 or i==colms or j==1 or j==colms:
      print(0,end='.')
    else:
      print(' ',end=' ')
  print('')

0.0.0.0.0.
0.      0.
0.      0.
0.      0.
0.0.0.0.0.

In [ ]:
num_of_elements = int(input())
lst=[]
for i in range(num_of_elements):
  x=int(input())
  lst.append(x)

lst1=list(set(lst))

for i in lst1:
  if lst.count(i)>1:
    print(i,'is repeated ',lst.count(i),'times')
  else:
    pass

KeyboardInterrupt: ignored

In [ ]:
num_of_elements = 5
lstt=sorted([2,2,3,2,2])


lst1=list(set(lst))

for i in lstt:
  print('i=',i)
  print(lstt.index(i))
  if lstt.count(i)>1:
    print('--',lstt.index(i))
    lstt.pop(lstt.index(i))
    
  else:
    pass
print(lstt)

i= 2
0
-- 0
i= 2
0
-- 0
i= 3
2
[2, 2, 3]

In [ ]:
num_elem = int(input())
lst=[]
for i in range(num_elem):
  x=int(input())
  lst.append(x)

lst=list(set(lst))
print('Array elements after removing duplicates')
for i in lst:
  print('\n',i)

5
4
2
4
3
2
Array elements after removing duplicates

 2

 3

 4

In [ ]:
n=[19, 19, 5, 5, 5, 5, 5]

In [ ]:
def monotonic(x):
  if all([ x[i]>x[i+1]  for i in range(len(x)-1)] ):
    return 'Decreasing'
  elif all([ x[i]<x[i+1] for i in range(len(x)-1)]):
    return "Increasing"
  else:
    return 'Not a monotonic sequence'  


print(monotonic(n))

Not a monotonic sequence

In [ ]:
n='Unhapypy'

In [ ]:
lst=[]
for i in range(len(n)-1):
  if n[i]==n[i+1]:
    lst.append(i)
  else:
    pass
if n[-1]==n[-2]:
  lst.append(len(n)-1)
else:
  pass
print(lst)

[4]

In [ ]:

def test(s):
    for i in range(len(n) - 2):
        if s[i] == s[i + 1]:
            return [i, i + 1]
        if s[i] == s[i + 2]:
            return [i, i + 2] 
print(test(n))

[4, 6]

In [ ]:
lstz=[12, -7, 3, -89, 14, 88, -78, -1, 2, 7] 
n=6

In [ ]:
lst1=[]
for i in range (0,len(lstz)):
      lst1.append(lstz[i])
      lst1.append(n)    
lst1.pop()
print(lst1)

[12, 6, -7, 6, 3, 6, -89, 6, 14, 6, 88, 6, -78, 6, -1, 6, 2, 6, 7]